<div class="text-center mb-5">
  <h1 class="display-4">Bem-vindo à Pizzaria MucaRoela!</h1>
  <p class="lead">As pizzas mais saborosas da cidade, feitas com carinho e ingredientes frescos.</p>
  <a href="/cardapio" class="btn btn-danger btn-lg">Ver Cardápio</a>
</div>

<!-- Destaques -->
<h2 class="mb-4 text-danger">Nossos Sabores Favoritos</h2>
<div class="row g-4">
  <div class="col-md-4">
    <div class="card shadow">
      <img src="img/peporoni.jpg" class="card-img-top" alt="Pizza Pepperoni">
      <div class="card-body">
        <h5 class="card-title">Pepperoni Especial</h5>
        <p class="card-text">Molho artesanal, queijo derretido e generosas fatias de pepperoni crocante.</p>
      </div>
    </div>
  </div>
  
  <div class="col-md-4">
    <div class="card shadow">
      <img src="img/pizza_vegetariana.jpg" class="card-img-top" alt="Pizza Vegetariana">
      <div class="card-body">
        <h5 class="card-title">Vegetariana</h5>
        <p class="card-text">Coberta com pimentões, azeitonas, cebolas roxas e queijo vegano opcional.</p>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card shadow">
      <img src="img/pizza_calabresa.jpg" class="card-img-top" alt="Pizza Portuguesa">
      <div class="card-body">
        <h5 class="card-title">Portuguesa Tradicional</h5>
        <p class="card-text">Presunto, ovo, cebola, pimentão e um toque especial de orégano.</p>
      </div>
    </div>
  </div>
</div>
